HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Config ###
src/main/resources/application-local.yaml
src/main/resources/application-local.yml
.env
.env.*
liquibase.properties
logs/my-service-error.log
logs/my-service.log
logs/spring-boot-app.2025-12-08.log
logs/spring-boot-app.2025-12-09.log
logs/spring-boot-app.2025-12-10.log
logs/spring-boot-app.2025-12-17.log
logs/spring-boot-app.2025-12-18.log
logs/spring-boot-app.2025-12-19.log
logs/spring-boot-app.2025-12-20.log
logs/spring-boot-app.2025-12-21.log
logs/spring-boot-app.log
.github/copilot-instructions.md
.gitignore
data/liquibase/QuizSpringSqlServer.liquibase.properties
data/liquibase/settings.json
SpringBootWeb.code-workspace
