apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-boot-web
  labels:
    app: spring-boot-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spring-boot-web
  template:
    metadata:
      labels:
        app: spring-boot-web
    spec:
      containers:
        - name: spring-boot-web
          image: spring-boot-web:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: APP_SERVICES_EMAIL_URL
              value: "http://email-service:8080"
---
apiVersion: v1
kind: Service
metadata:
  name: spring-boot-web
spec:
  selector:
    app: spring-boot-web
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: LoadBalancer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: email-service
  labels:
    app: email-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: email-service
  template:
    metadata:
      labels:
        app: email-service
    spec:
      containers:
        - name: email-service
          image: email-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8081
---
apiVersion: v1
kind: Service
metadata:
  name: email-service
spec:
  selector:
    app: email-service
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8081
